/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*#no-signup-home {
    background-image: url('http://i.giphy.com/qvltPw1AN5cSk.gif');
    background-size: cover;
    position: fixed;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto;
    background-repeat: no-repeat;
}*/

#no-sign-up-home {
    background: url(../ParkSwap/images/parking_lots.jpg) #000 no-repeat center center fixed;
    background-size: cover;
}

#no-sign-up-logo {
    font-size: 80px;
}

@media screen and (max-device-width: 800px) {
    #no-sign-up-logo {
        font-size: 40px;
    }
}

