<!DOCTYPE HTML>
<html>
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/material-wfont.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/ripples.min.css">

  <link rel="stylesheet" type="text/css" href="../../static/css/custom.css">

  <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1, maximum-scale=1">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <style>
  #googleMap {
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src='static/ParkSwap/js/googleMapInit.js'></script>

</head>



<body onload="initialize()">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ParkSwap </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <a href="./logged-in-home" class="btn btn-success">Sign in</a>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container-fluid">
      <h2 class="jumbotron text-center">
        ParkSwap
        {% block jumbo %}{% endblock %}
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="text-center">
     {% block content %}{% endblock %}
    </div>
    <section id="googleMap"></section>
    <div class="text-center">
      <a href="javascript:void(0)" class="btn btn-info text-center" onclick="addMarker()">I'll Wait</a>
    </div>
  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/material.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/ripples.min.js"></script>
</body>
</html>
