<!DOCTYPE HTML>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/material-wfont.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/ripples.min.css">
    
    <link rel="stylesheet" type="text/css" href="../../static/css/custom.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1, maximum-scale=1">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <style>
      #googleMap {
      width: 100%;
      position: absolute;
      left: 0; 
      right: 0; 
      z-index: 0;
      top:50px; 
      bottom: 0; 
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="static/ParkSwap/js/googleMapInit.js"></script>
    
  </head>
  
  

  <body onload="initialize()" class="text-center">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ParkSwap </a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <div id="navbar" class="navbar-collapse collapse text-right">
	    <b>Welcome, Adam</b>
	  </div>
	</div><!--/.navbar-collapse -->
      </div>
    </nav>
    
    
    <div class="row" >
    </div>
    
    <div class="container">
      <div class="text-center">
      </div>
      <section id="googleMap"></section>
    </div>

    <br/><br/><br/>


    <style>
      #waitingform,#thankyou,#confirmpopup{
      background-color: rgba(256,256,256,0.8);
      text: center;
      }
      
    </style>


    
    <div class="col-md-4 col-xs-1"></div>
    <div class="col-md-4 col-xs-10" id="waitingform">
      <b>
       	<br/>
	Location rate : $0.50/min
	<div class="form-control-wrapper">
	  <input type="number" class="form-control text-center" placeholder="minutes willing to wait"></input>
	  <span class="material-input"></span>
	</div>
	<button onclick="markSpot() " class="btn btn-inverse">Wait</button>
      </b>
    </div>
    
    <div class="col-md-4 col-xs-10 text-center" id="thankyou" hidden>
      <b>
       	<br/><h4>
	  Thanks for holding a spot ! :)
	  <br/>
	  You will be notified if someone wants this spot.
	  <br/><br/>
	</h4>
      </b>
    </div>
    
    
    <div class="col-md-4 col-xs-10 text-center" id="confirmpopup" hidden>
      <b>
       	<br/><h4>
	  Adam has requested for your spot
	  <br/>
	  
	  <br/>
	</h4>
      </b>
    </div>
    
    
    
    

    
    
    <div class="col-md-4 col-xs-1"></div>
    
    
    







    <script>
      function markSpot(){
      addMarker(map.getCenter(),"Adam");
      $("#waitingform").hide();
      $("#thankyou").show();
      }
    </script>
    
    
    <script>
      $( "#thankyou" ).click(function() {
      $("#thankyou").hide();
      $("#confirmpopup").show();
      initializeAccepted(); 
      
      });
    </script>



    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/material.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/ripples.min.js"></script>
  </body>
</html>
